{% extends "quiz/layout.html" %}

{% block body %}
<form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    {{message}}
    <input type="text" name="username" autofocus placeholder="Username" required autocomplete="off">
    <input type="email" name="email" placeholder="Email" required autocomplete="off">
    <input type="password" name="password" placeholder="Password" required autocomplete="off">
    <input type="password" name="confirmation" placeholder="Confirm password" required autocomplete="off">
    <input type="submit" value="Register">
</form>
{% endblock %}